#eclipse files
.classpath
.project
.settings

#intelliJ files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea
*.iml


# Ignore target at the top level
/target/
# Ignore child project's targets as well
/*/target/
# And any grandchildren ...
/*/*/target/
book-maker-app.jar