
.boxSpacing{
    -fx-padding: 10 10 10 10;
}

.root {    
	-fx-background-image: url("../../../images/bg.jpg");
	-fx-background-position: center center;
    -fx-font: 14px "Arial";
	}


.box{
	-fx-border-color: black;
}
